@import 'Vars';
.LoginPage{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .TopBar{
        display: none;
    }
    .LogoContainer{
        text-align: center;
        
        .Logo{
            display: inline-block;
            height: 10rem;
            width: 10rem;
            background: transparent url('../imgs/Collage_Imagotipo.svg') no-repeat center;
            background-size: 100% 100%;
        }
    }

    .FormContainer
    {
        text-align: center;
        

        .LoginForm{
            p{
                text-align: left;
                padding: 0rem 0rem 0rem 0.6rem;
                margin: 0%;
            }

            display: inline-block;

            .FieldContainer{
                padding: 0.3rem;
                align-items: center;
                

                input{
                    
                    padding: 0.6rem;
                    
                    background-color: transparent;
                    border: 0;
                    border-bottom: #000 solid 1px;
                    width: calc(100% - 1.9rem);
                }

                .Button{
                    background-color: $EmphasisColor;
                    color: #000;
                    padding: 0.3rem;
                }
                
            }
            .ErrorMessage{
                color: #a00303;
                font-size: 0.7rem;
                font-weight: bold;
                
            }
        }
    }
}